<?xml version="1.0" ?>
<phpunit colors="true">
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="unit-test">
            <directory>test/src</directory>
        </testsuite>
        <testsuite name="serializer-test">
            <directory>test/serializer</directory>
        </testsuite>
    </testsuites>
</phpunit>
